DEMOPROJECT27092021/Workflows/PowerAppV2-GetitemsInitializevariableRespondtoaPow-09E31B64-541F-EC11-B6E6-000D3AB86EC3.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"crf23_sharedsharepointonline_18fc5"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"SPO_Site_Test_27092021":{"defaultValue":"https://volvogroup.sharepoint.com/sites/proj-coe_dev","type":"String","metadata":{"schemaName":"crf23_SPO_Site_Test_27092021"}},"SPO_List_Test_27092021":{"defaultValue":"37079a07-adf8-442c-a38d-95235e781a6a","type":"String","metadata":{"schemaName":"crf23_SPO_List_Test_27092021"}}},"triggers":{"manual":{"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_items":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SPO_Site_Test_27092021')","table":"@parameters('SPO_List_Test_27092021')"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"Get_items":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FirstItem","type":"string","value":"@{first(outputs('Get_items')?['body/value'])['Title']}"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"firstitem":"@variables('FirstItem')"},"schema":{"type":"object","properties":{"firstitem":{"title":"FirstItem","x-ms-dynamically-added":true,"type":"string"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}